<div class="tracks-container">

    <div class="track-text">
        <h2>Title</h2>
        <h2>Listen</h2>
    </div>

    {{#unless tracks}}
    <div class="no-result-found">
        <h4> No tracks were found</h4>
    </div>
    {{/unless}}

    {{#each tracks as |child|}}
    {{#> trackCard }}
    {{child.value}}
    {{/trackCard}}
    {{/each}}

</div>